<div class="row">
    <div *ngFor="let planeta of planets; let i = index" class="col-4 pb-2">
        <div class="card">
            <img class="card-img-top" [src]="planeta.img" alt="Card image cap" height="350">
            <div class="card-body">
                <h4 class="card-title"><a>{{planeta.nombre}}</a></h4>
                <small>Posicion N° . {{planeta.Posicion}}</small>
                <p class="card-text">{{planeta.caracteristicas}}
                </p>
                <button (click)="verPlane(i)" type="button" class="btn btn-secondary">Ver planeta</button>
                <!-- <a [routerLink]="['/planeta', i ]" class="btn btn-primary">Ver planeta</a> -->
            </div>
        </div>
    </div>
</div>